*.a
*.cmake
*.filters
*.opensdf
*.sdf
*.sln
*.so.0
*.suo
*.user
*.vcxproj
CMakeCache.txt
CMakeFiles/
Makefile
[Dd]ebug/
libraries/OpenBLAS-0.2.11/src/
libraries/OpenBLAS-0.2.11/tmp/
source/autoencoder
source/clblas
source/clfft
tests/alltests
x64/

# Project specific exceptions
!internal_utils.cmake
