# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.so*0
*.so*2
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Generated kernel template files
*.clT

*.version.h

staging/
tplgen-prefix/
